<div class="container-fluid filter-container py-5">
    <div class="row mb-4">
        <div class="col-sm-12">
            <h1>I'M LOOKING FOR <span class="filter text-primary" [ngbPopover]="primaryCategorySelectContent"
                    [popoverTitle]="primaryCategorySelectTitle">
                    {{ (currentPrimaryCategory == '' ? 'anything' : currentPrimaryCategory) | uppercase}}
                </span>
                <ng-container *ngFor="let secondaryCategory of currentSecondaryCategories">
                    , <span class="filter text-primary" [ngbPopover]="editSecondaryContent"
                        [popoverTitle]="editSecondaryTitle" (click)="setClickedSecondary(secondaryCategory)">
                        {{secondaryCategory | uppercase}}
                    </span>
                </ng-container>
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-outline-primary" [ngbPopover]="secondaryCategorySelectContent"
                    [popoverTitle]="secondaryCategorySelectTitle" [autoClose]="false" triggers="manual" #p="ngbPopover"
                    (click)="p.isOpen()? p.close() : p.open()">
                    <i class="bi bi-plus-square"></i>
                    &nbsp;and more
                </button>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>and it has to be <span class="filter text-success" (click)="isAddingFilter = false"
                    [ngbPopover]="editFilterContent" [popoverTitle]="editFilterTitle">fun</span>
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-outline-success" (click)="isAddingFilter = true" [ngbPopover]="editFilterContent"
                    [popoverTitle]="editFilterTitle">
                    <i class="bi bi-plus-square"></i> &nbsp;and more
                </button>
            </h2>
        </div>
    </div>
</div>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-12">
            <h1>STARTING
                <span class="filter text-warning" [ngbPopover]="chooseDateContent"
                    [popoverTitle]="chooseDateTitle">
                    {{ currentTimeRangeString | uppercase }}
                </span>
            </h1>
        </div>
    </div>
</div>

<div class="container-fluid pb-4">
    <div class="col-sm-12">
        <button class="btn btn-lg btn-outline-primary mr-5"><i class="bi bi-search"></i>&nbsp;Search</button>
    </div>
</div>

<!-- Popover templates -->

<ng-template #primaryCategorySelectTitle>
    Or maybe something like...
</ng-template>
<ng-template #primaryCategorySelectContent>
    <div class="replacement-filter-container d-flex flex-column">
        <div *ngFor="let category of primaryCategories" (click)="OnPrimaryFilterSelect(category)">
            <button class="btn btn-outline-secondary">{{category}}</button>
        </div>
        <div><button class="btn btn-outline-secondary" (click)="currentPrimaryCategory = ''">Anything</button></div>
        <div><button class="btn btn-outline-secondary">🤔 Oh, nevermind...</button></div>
    </div>
</ng-template>

<ng-template #secondaryCategorySelectTitle>
    <div class="d-flex align-items-center justify-content-between">
        <div>Something like...</div>
        <div><button class="btn btn-sm btn-outline-secondary" (click)="p.close()"> <b>&times;</b> </button></div>
    </div>
</ng-template>
<ng-template #secondaryCategorySelectContent>
    <div class="replacement-filter-container d-flex flex-column">
        <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model"
            (selectItem)="OnSecondaryCategorySelect($event); p.close()" [ngbTypeahead]="search" />
    </div>
</ng-template>

<ng-template #editSecondaryTitle>
    <p>On second thought...</p>
</ng-template>
<ng-template #editSecondaryContent>
    <div class="replacement-filter-container d-flex flex-column">
        <div><button class="btn btn-outline-secondary">Keep this</button></div>
        <div><button class="btn btn-outline-secondary" (click)="OnSecondaryCategoryRemove()">Remove this</button></div>
    </div>
</ng-template>

<ng-template #editFilterTitle>
    <div class="d-flex justify-content-center align-items-center">
        <p>{{ isAddingFilter ? 'It needs to be..' : 'Or it probably should be...' }}</p>
    </div>
</ng-template>
<ng-template #editFilterContent>
    <div class="replacement-filter-container d-flex flex-column">
        <!-- TODO: create window for choosing the area -->
        <div><button class="btn btn-outline-secondary">In a Specific Area</button></div>
        <!-- TODO: create window for choosing the distance -->
        <div><button class="btn btn-outline-secondary">A Certain Distance</button></div>
        <div><button class="btn btn-outline-secondary">Wheelchair Accessible</button></div>
        <!-- TODO: create window for checking accessibility filters -->
        <div><button class="btn btn-outline-secondary">Accessible for something specific</button></div>
        <hr>
        <div *ngIf="!isAddingFilter && currentFilters.length > 1"><button class="btn btn-outline-secondary">On second
                thought, remove this</button></div>
        <div><button class="btn btn-outline-secondary">Oh, nevermind...</button></div>
    </div>
</ng-template>

<ng-template #editFilterTitle>
    <div class="d-flex justify-content-center align-items-center">
        <p>{{ isAddingFilter ? 'It needs to be..' : 'Or it probably should be...' }}</p>
    </div>
</ng-template>

<ng-template #chooseDateTitle>
    <div class="d-flex align-items-center">
        or how about...
    </div>
</ng-template>
<ng-template #chooseDateContent>
    <div class="replacement-filter-container d-flex flex-column">
        <div><button class="btn btn-outline-secondary" (click)="OnDateChange(true, 'This Weekend')">This weekend</button></div>
        <div><button class="btn btn-outline-secondary" (click)="OnDateChange(true, 'Next Week')">Next week</button></div>
        <div><button class="btn btn-outline-secondary" (click)="OnDateChange(true, 'Next Month')">Next month</button></div>
        <!-- TODO: change content to show selected dates -->
        <div><button class="btn btn-outline-secondary" (click)="OnDateChange(true, 'Apr 4, 2021 ending at Apr 5 2021')">Between Certain Dates</button></div>
        <div><button class="btn btn-outline-secondary">Nah, this is good...</button></div>
    </div>
</ng-template>