<div class="container py-5">
    <div class="row mb-4">
        <div class="col-sm-12">
            <h1>I'M LOOKING FOR <span class="filter text-primary">ANYTHING</span>&nbsp;&nbsp;&nbsp;<button
                class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> &nbsp;and more</button></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>and it has to be <span class="filter text-success">fun</span>&nbsp;&nbsp;&nbsp;<button
                class="btn btn-outline-success"><i class="bi bi-plus-square"></i> &nbsp;and more</button></h2>
        </div>
    </div>
</div>